<%- include('header.ejs'); %>

<body>
    <div id="edit-page-container" align="center">

        <div id="datas-container">

            <div id="edit-header-div">
                <h1 id="edit-header-title">Edit Profile</h1>
            </div>

            <div id="change-picture-div">
                <label id="change-picture-label">
                    <input type="file" name="change_picture" id="change-picture-button" />
                    Change Profile Picture
                </label>
            </div>

            <div id="change-username-label-div">
                <label for="edit-username-input">Change username:</label>
            </div>
            <div id="edit-username-input-div">
                <% if (user.username) { %>
                    <form action="/edit/:userId" method="post" id="edit-username-form">
                        <input type="text" name="edit_username_input" id="edit-username-input" value="<%= user.username %>">
                        <div id="edit-profile-send-button-div">
                            <button id="edit-profile-button" type="submit">Edit Profile</button>
                        </div>
                    </form>
                <% } %>
            </div>

            <form action="/deleteAccount" method="post" id="delete-account-form">
                <div id="delete-profile-button-div">
                    <button id="delete-profile-button" type="submit">Delete profile</button>
                </div>
            </form>


            

            <form action="/main" method="get">
                <div id="back-to-main-page-button-div">
                    <button class="back-to-main-page-button" type="submit" title="Back to the main page">
                        <img src="/back.png" alt="back" style="filter: invert(100%)" id="back-to-main-page-icon">
                    </button>
                </div>
            </form>

        </div>

    </div>
</body>

</html>