<%- include('header.ejs'); %>

<body>
    <div id="email-send-container">
        <h1 id="email-send-title">Check your email messages, we sent a verification email for you!</h1>
    </div>
</body>
</html>