<%- include('header.ejs'); %>

<body>
    <div id="login-container">
        <div id="login-title-div">
            <h1 id="login-title">Personal Gallery</h1>
        </div>

        <div id="login-container-div">
            <div id="login-header-div">
                <h1 id="login-header-title">Login</h1>
            </div>

            <div id="credentials-div">
                <form action="/" method="post" autocomplete="off" id="login-form">
                    <div id="login-username-div">
                        <input class="form-input" type="text" name="login-username" id="login-username"
                            placeholder="Username:">
                    </div>

                    <div id="login-password-div">
                        <input class="form-input" type="password" name="login-password" id="login-password"
                            placeholder="Password:">
                        <img src="show-pw.png" class="show-pw-image" alt="show_password" title="Show Password">
                    </div>

                    <div class="error-div">
                        <% if (message.length > 0) { %>
                        <span class="error-message"><%= message %></span>
                        <% } %>
                    </div>

                    <div id="register-question">
                        <p>Haven't registered yet?</p>
                        <a id="signup-link" href="/signup">Sign Up</a>
                    </div>

                    <div id="login-button-div">
                        <button class="login-button" type="submit">Login</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>

</html>