<%- include('header.ejs'); %>

<body>
    <div id="main-page-container">
        <div id="main-page-cover-div"></div>

        <div id="profile-image-div" align="center">
            <% if (user.profile_picture == null) { %>
                <img src="default-profile-picture.jpg" alt="" id="profile-image">
            <% } else { %>
                <img src="./profile_images/<%=user.profile_picture %>" alt="">
            <% } %>
            <span class="tooltiptext"><a id="tooltip-link" href="/edit">Edit Profile</a></span>
        </div>

        <div id="profile-title-div" align="center">
            <h1 id="profile-title">
                <% if (user.username) { %>
                <%= user.username; %>
                <% } %>
                's Gallery</h1>
        </div>

        <form action="/logout" method="get" id="logout-form">
            <div id="logout-button-div">
                <button class="back-to-main-page-button" type="submit" title="Log out"><img src="/logout.png"
                        id="logout-icon" alt="logout"></button>
            </div>
        </form>
    </div>
</body>

</html>