<%- include('header.ejs'); %>

<body>
    <div id="verify-container">
        <div>
            <h2 id="verify-title">Your email address has been successfully verified!</h2>
        </div>

        <div>
            <a href="/"><< Back to the login page</a>
        </div>
    </div>
</body>
</html>