body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 246, 236, 1) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
}

#login-container,
#signup-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#login-title-div {
  text-align: left;
  margin-left: 30px;
  margin-top: 15%;
}

#login-title {
  font-family: "Fredoka One", cursive;
  font-size: 60px;
  color: #29b6f6;
}

#login-container-div,
#signup-container-div {
  background-color: #fff;
  position: relative;
  float: right;
  margin-right: 130px;
  margin-top: 40px;
  width: 500px;
  height: 520px;
  box-shadow: 0px 5px 13px -4px rgba(0, 0, 0, 0.59);
  border-radius: 5px;
}

#login-header-div {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 90px;
  background-image: radial-gradient(
    circle 638px at 64.2% 57.7%,
    rgba(17, 187, 244, 1) 62.6%,
    rgba(248, 66, 239, 1) 90%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-header-title {
  font-family: "Jua", sans-serif;
  color: #fff;
  font-size: 40px;
  margin: 0;
  position: relative;
}

#credentials-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

#credentials-div-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.form-input {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid silver;
  padding: 10px;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  outline: none;
  width: 100%;
  font-size: 18px;
  color: #0091ea;
  transition: 0.2s ease;
  margin-bottom: 10px;
}

.form-input:-webkit-autofill {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid silver;
  padding: 10px;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  outline: none;
  width: 100%;
  font-size: 18px;
  color: #0091ea !important;
}

.form-input:focus {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: bold;
  border-bottom: 3px solid #03a9f4;
  transition: 0.2s ease;
}

#login-button-div {
  margin-top: 70px;
}

.login-button {
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  font-weight: bold;
  width: 120px;
  font-size: 20px;
  background-image: radial-gradient(
    circle 987px at 99% 2%,
    rgba(22, 183, 229, 1) 0%,
    rgba(9, 54, 103, 1) 90%
  );
  font-family: "Jua", sans-serif;
  text-transform: uppercase;
  box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.59);
  border-radius: 2px;
  outline: none;
  transition: 0.1s ease;
}

.login-button:hover {
  transition: 0.1s ease;
  box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.59);
  background-image: radial-gradient(
    circle 994px at 0.2% 51.2%,
    rgba(61, 138, 255, 1) 0%,
    rgba(0, 255, 39, 1) 100.2%
  );
}

#signup-button-div {
  margin-top: 40px;
}

.signup-button {
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  font-weight: bold;
  width: 200px;
  font-size: 20px;
  background-image: radial-gradient(
    circle 987px at 99% 2%,
    rgba(22, 183, 229, 1) 0%,
    rgba(9, 54, 103, 1) 90%
  );
  font-family: "Jua", sans-serif;
  text-transform: uppercase;
  box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.59);
  border-radius: 2px;
  outline: none;
  transition: 0.1s ease;
}

.signup-button:hover {
  transition: 0.1s ease;
  box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.59);
  background-image: radial-gradient(
    circle 994px at 0.2% 51.2%,
    rgba(61, 138, 255, 1) 0%,
    rgba(0, 255, 39, 1) 100.2%
  );
}

#back-to-login-button {
  font-family: "Jua", sans-serif;
  color: #0277bd;
  text-align: center;
  position: absolute;
  right: 12%;
  bottom: 7%;
  font-size: 14px;
}

#back-to-login-button a {
  text-decoration: none;
  color: #0277bd;
  font-size: 18px;
}

#back-to-login-button a:hover {
  color: #01579b;
}

#register-question {
  font-family: "Jua", sans-serif;
  color: #0277bd;
  text-align: center;
  position: absolute;
  right: 18%;
  bottom: 17%;
  font-size: 14px;
}

#register-question a {
  text-decoration: none;
  color: #0277bd;
  font-size: 18px;
}

#register-question a:hover {
  color: #01579b;
}

.show-pw-image {
  width: 40px;
  height: 30px;
  position: absolute;
  right: 18%;
  bottom: 46%;
  cursor: pointer;
}

.show-pw-image-signup {
  width: 40px;
  height: 30px;
  position: absolute;
  right: 18%;
  bottom: 37%;
  cursor: pointer;
}

#verify-container,
#email-send-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#verify-title,
#email-send-title {
  font-family: "Jua", sans-serif;
  font-size: 40px;
  color: #29b6f6;
  text-align: center;
}

#verify-container a {
  text-decoration: none;
  font-family: "Jua", sans-serif;
  color: #0277bd;
  font-size: 18px;
  font-weight: bold;
}

#verify-container a:hover {
  color: #29b6f6;
}

#email-send-title-error {
  font-family: "Jua", sans-serif;
  font-size: 40px;
  color: #f64129;
}

.slidein-from-right {
  -moz-animation: slidein-from-right2 500ms;
  -webkit-animation: slidein-from-right2 500ms;
  -o-animation: slidein-from-right2 500ms;
  animation: slidein-from-right2 500ms;
}
@-webkit-keyframes slidein-from-right2 {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes slidein-from-right2 {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(0%);
  }
}
@-o-keyframes slidein-from-right2 {
  from {
    -o-transform: translateX(100%);
  }
  to {
    -o-transform: translateX(0%);
  }
}
@keyframes slidein-from-right2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.slidein-from-left {
  -webkit-animation: slidein-from-left2 500ms;
  -moz-animation: slidein-from-left2 500ms;
  -o-animation: slidein-from-left2 500ms;
  animation: slidein-from-left2 500ms;
}
@-webkit-keyframes slidein-from-left2 {
  from {
    -webkit-transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes slidein-from-left2 {
  from {
    -moz-transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(0%);
  }
}
@-o-keyframes slidein-from-left2 {
  from {
    -o-transform: translateX(-100%);
  }
  to {
    -o-transform: translateX(0%);
  }
}
@keyframes slidein-from-left2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.swal2-html-container,
.swal2-title,
.swal2-confirm,
.swal2-cancel {
  font-family: "Jua", sans-serif;
}

.swal2-title {
  color: #12bbf4 !important;
}

.error-div {
  text-align: center;
  margin-top: 20px;
}

.error-message {
  color: red;
  font-size: 18px;
  font-family: "Jua", sans-serif;
}

@media only screen and (max-width: 760px) {
  body {
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(234, 249, 249, 0.67) 0.1%,
      rgba(239, 249, 251, 0.63) 90.1%
    );
  }

  #login-container,
  #signup-container {
    display: flex;
    flex-direction: column;
  }

  #login-title {
    text-align: center;
    font-size: 40px;
  }

  #login-title-div {
    margin-left: 0;
  }

  #login-container-div,
  #signup-container-div {
    width: 300px;
    height: 400px;
    margin: 0 auto;
  }

  .form-input {
    font-family: "Baloo Tammudu 2", cursive;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid silver;
    padding: 4px;
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    outline: none;
    width: 100%;
    font-size: 12px;
    color: #0091ea;
    transition: 0.2s ease;
    margin-bottom: 10px;
  }

  .form-input:-webkit-autofill {
    font-family: "Baloo Tammudu 2", cursive;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid silver;
    padding: 4px;
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    outline: none;
    width: 100%;
    font-size: 12px;
    color: #0091ea !important;
  }

  .form-input:focus {
    font-family: "Baloo Tammudu 2", cursive;
    font-weight: bold;
    border-bottom: 3px solid #03a9f4;
    transition: 0.2s ease;
  }

  #login-button-div {
    margin-top: 90px;
  }

  .login-button {
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    font-weight: bold;
    width: 100px;
    font-size: 15px;
    background-image: radial-gradient(
      circle 987px at 99% 2%,
      rgba(22, 183, 229, 1) 0%,
      rgba(9, 54, 103, 1) 90%
    );
    font-family: "Jua", sans-serif;
    text-transform: uppercase;
    box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.59);
    border-radius: 2px;
    outline: none;
    transition: 0.1s ease;
  }

  .login-button:hover {
    transition: 0.1s ease;
    box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.59);
    background-image: radial-gradient(
      circle 994px at 0.2% 51.2%,
      rgba(61, 138, 255, 1) 0%,
      rgba(0, 255, 39, 1) 100.2%
    );
  }

  #register-question {
    font-family: "Jua", sans-serif;
    color: #0277bd;
    text-align: center;
    position: absolute;
    right: 8%;
    bottom: 17%;
    font-size: 11px;
  }

  #register-question a {
    text-decoration: none;
    color: #0277bd;
    font-size: 15px;
  }

  .show-pw-image {
    width: 30px;
    height: 25px;
    position: absolute;
    right: 16%;
    bottom: 49%;
    cursor: pointer;
  }

  .show-pw-image-signup {
    width: 30px;
    height: 25px;
    position: absolute;
    right: 18%;
    bottom: 40%;
    cursor: pointer;
  }

  #signup-button-div {
    margin-top: 30px;
  }

  .signup-button {
    padding: 10px;
    font-weight: bold;
    width: 130px;
    font-size: 12px;
    background-image: radial-gradient(
      circle 987px at 99% 2%,
      rgba(22, 183, 229, 1) 0%,
      rgba(9, 54, 103, 1) 90%
    );
    font-family: "Jua", sans-serif;
    text-transform: uppercase;
    box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.59);
    border-radius: 2px;
    outline: none;
    transition: 0.1s ease;
  }

  #back-to-login-button a {
    text-decoration: none;
    color: #0277bd;
    font-size: 16px;
  }

  .error-div {
    margin-top: 5px;
  }
  .error-message {
    color: red;
    font-size: 12px;
  }
}
